
/* Barra de navegacion */

.navbar {
    padding: 1rem;
    background-color: #889ebf;

  }
  
.navbar-collapse {
    align-items: center;
    justify-content: space-between;  
    
  }


li {
    font-size: 1.3rem;
    font-weight: bold;

  }

.sectionCarrusel {
    background-color: #5b7398;

}

h5, p {
    font-weight: bold;
}


/* Responsive */

  
  @media screen and (max-width: 575px) {
    .navbar-brand {
      display: none;
    }
  }