/* Paleta de Colores: 
   Azul #0175F5  Iconos
   Verde Fluo #01F535 Iconos



*/


/* Estilos Generales*/



h5, p {
  font-weight: bold;
}


section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

footer {
  padding: 1rem;
  background-color: #889ebf;

}




/* Barra de navegacion */

li {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Roboto', serif;
}


.nav-link:hover{
  color:#0175F5;
  transition:  0.5s ease;
 } 
 

.navbar {
    padding: 1rem;
    background-color: #889ebf;

  }
  
.navbar-collapse {
    align-items: center;
    justify-content: space-between;  
    
  }



/* Seccion Portada */




/* Seccion Nosotros */

.seccionOscura {
  color: #0175F5;
  background-color: #1b1b32;
}

.sobreNosotros {
  height: 500px;
  padding: 10px;
}

.sobreNosotros .contenedor {
  max-width: 600px;
  text-align: center;
}

.seccionTitulo {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 15px 0;
  font-family: 'Libre Baskerville', serif;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccionTexto {
  
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
}


/* Seccion Servicios */

.seccionServicios {
  padding: 40px 40px 60px 40px;
}

.seccionServicios .columna {
  padding: 10px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.seccionServicios .columna:hover {
  color: white;
  background-color: #1b1b32;
}


.serviciosTitulo {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0;
}

.contenedorBadges {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}


/* Pie de pagina (footer) */

footer {
  min-height: 200px;
}

.footer-logo {
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 5px;
  border: 2px solid #0175F5;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: 0175F5;
  
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid #0175F5;
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 20px;
  
  padding: 10px;
}





/* Responsive */

  
  @media screen and (max-width: 575px) {
    .navbar-brand {
      display: none;
    }
  }


  @media screen and (min-width: 700px) {
    .fondoMyC  {
      max-width: 800px;
    }
  }

    /*Responsive Iconos Servicios  */

    @media (max-width: 768px) {
      .contenedorIconoServicios img {
        width: 80px; /* Tamaño del icono para pantallas más pequeñas */
      }
    }
    
    @media (max-width: 480px) {
      .contenedorIconoServicios img {
        width: 60px; /* Tamaño del icono para pantallas aún más pequeñas */
      }
    }